.fuelOptionWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 5px;

}

.colorIndicator {
  border-radius: 37px;
  width: 25px;
  height: 25px;
  line-height: 9%;
}

.label{
  font-size: 14px;
  color:#1E196A ;
  font-weight: 400;
  line-height: 20px;
  
}
